@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Git-sans';
    src: url(./font/gitSans/Git-Sans.ttf);
  }
  @font-face {
    font-family: Utile-extralight;
    font-weight: 200;
    src: url(./font/Utile/Utile-Book.otf);
  }
  @font-face {
    font-family: Utile-light;
    font-weight: 300;
    src: url(./font/Utile/Utile-Light.otf);
  }
  @font-face {
    font-family: Utile-regular;
    font-weight: 400;
    src: url(./font/Utile/Utile-Regular.otf);
  }
  @font-face {
    font-family: Utile-medium;
    font-weight: 500;
    src: url(./font/Utile/Utile-Medium.otf);
  }

  @font-face {
    src: url(./font/Utile/Utile-Medium.otf) format('otf');
    font-family: Utile-bold;
    font-weight: 700;
    src: url(./font/Utile/Utile-Bold.otf);
  }

  @font-face {
    font-family: formular-extralight;
    font-weight: 200;
    src: url(./font/formular/formular-extralight-trial.woff);
  }

  @font-face {
    font-family: formular-light;
    font-weight: 300;
    src: url(./font/formular/formular-light-trial.woff);
  }
  @font-face {
    font-family: formular-regular;
    font-weight: 400;
    src: url(./font/formular/formular-regular-trial.woff);
  }
  @font-face {
    font-family: formular-medium;
    font-weight: 500;
    src: url(./font/formular/formular-medium-trial.woff);
  }

  @font-face {
    font-family: formular-bold;
    font-weight: 700;
    src: url(./font/formular/formular-bold-trial.woff);
  }
  @font-face {
    font-family: formular-ultra;
    font-weight: 900;
    src: url(./font/formular/formular-ultra-trial.woff);
  }


  @font-face {
    font-family: Bebasneue-regular;
    font-weight: 400;
    src: url(./font/bebasNeue/BebasNeue-Regular.otf);
  }

}

.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.modal {
  position: absolute;
  top: 50%;
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  background: white;
}
.overlay {
  position: fixed;
  background: white;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  /* Reset default appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom styles */
  width: 100%;
  padding: 16px;
  padding-right: 40px; /* Add space for the arrow */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;

  /* Custom background arrow */
  background: url('../src/assets/images/select-input-arrow.svg') no-repeat right 16px center;
  background-size: 12px; /* Adjust size as needed */
}

