<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .anchor {
            color: #00B7FF;
        }
        .italic{
            font-style: italic;
           }
           
    </style>
</head>
<body>
    <h1>Hello <%=name %></h1> 

    Glad to have you with us

    <p>Kindly click on this link to verify your mail</p>

    <a class="anchor" href="<%=link %>"> Click Here</a>

    <p class="italic">Kindly note that this link expires in an hour, this is to help tighten our security</p>
</body>
</html>