<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Email Confirmation Status</title>
</head>
<body>
    <section class="h-screen flex items-start">
        <div class="hidden lg:flex lg:w-[59.3vw]">
            <img src="" alt="" id="confirmEmail" class="h-screen object-center w-full">
        </div>
        <div class="py-24 px-20 lg:w-[41vw]">
                <header class="flex justify-center lg:pb-[139px]">
                    <img src="/images/syncallLogo.png" alt="">
                </header>
                <main class="flex flex-col items-center justify-center">
                    <img src="<%=icon %>" alt="">
                    <h1 class="pt-6 pb-3 text-xl lg:text-[22px] text-[#101828] font-formular-bold">
                        <%=heading %>
                    </h1>
                    <p class="text-center text-[#667185] text-base font-formular-light pb-7">
                    <%=message %>
                    </p>
                    <a href="https://sync-all-fe-1brn.vercel.app/login" class="bg-black text-lg text-white rounded font-medium w-full py-3 lg:py-5">
                        Continue
                    </a>
                </main>
        </div>
    </section>
    <script src="/javascripts/script.js"></script>
</body>
</html>