<!doctype html>
<html>
  <body>
    <div
      style='background-color:#F2F5F7;color:#242424;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
    >
      <table
        align="center"
        width="100%"
        style="margin:0 auto;max-width:600px;background-color:#F2F5F8"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
      >
        <tbody>
          <tr style="width:100%">
            <td>
              <div style="background-color:#ecf0f4;padding:16px 24px 16px 24px">
                <div style="padding:16px 24px 16px 24px">
                  <img
                    alt="Sample product"
                    src="https://res.cloudinary.com/syncall/image/upload/v1735337051/syncallHeadLogo_y1advo.png"
                    width="177"
                    style="width:177px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                  />
                </div>
                <div
                  style="background-color:#FFFFFF;padding:16px 24px 16px 24px"
                >
                  <%-content %>
                </div>
                <div
                  style="background-color:#FFFFFF;padding:0px 24px 16px 44px"
                >
                  <table
                    align="center"
                    width="100%"
                    cellpadding="0"
                    border="0"
                    style="table-layout:fixed;border-collapse:collapse"
                  >
                    <tbody style="width:100%">
                      <tr style="width:100%">
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:8px"
                        >
                          <div style="padding:0px 24px 0px 0px">
                            <img
                              alt="Syncall footer"
                              src="https://res.cloudinary.com/syncall/image/upload/v1735337047/syncallFooterLogo_jksa1o.png"
                              width="103"
                              style="width:103px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                            />
                          </div>
                          <div
                            style="color:#969494;font-size:clamp(10px,0.8vw,14px);font-weight:normal;padding:16px 80px 36px 0px"
                          >
                            Metadata Enrichment for Music and Sound
                          </div>
                        </td>
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:8px;padding-right:0"
                        >
                          <div style="padding:0px 0px 0px 0px">
                            <table
                              align="center"
                              width="100%"
                              cellpadding="0"
                              border="0"
                              style="table-layout:fixed;border-collapse:collapse"
                            >
                              <tbody style="width:100%">
                                <tr style="width:100%">
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:2px;width:10px"
                                  >
                                    <div style="padding:0px 0px 0px 0px">
                                      <img
                                        alt="Syncall mail"
                                        src="https://res.cloudinary.com/syncall/image/upload/v1735337046/mail_dhvey4.png"
                                        width="10"
                                        style="width:10px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                                      />
                                    </div>
                                  </td>
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:2px;padding-right:0"
                                  >
                                    <div
                                      style="color:#585858;font-size:12px;font-weight:normal;padding:0px 0px 0px 0px"
                                    >
                                      info@syncallmusic.com
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div style="padding:0px 0px 0px 0px">
                            <table
                              align="center"
                              width="100%"
                              cellpadding="0"
                              border="0"
                              style="table-layout:fixed;border-collapse:collapse"
                            >
                              <tbody style="width:100%">
                                <tr style="width:100%">
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:2px;width:10px"
                                  >
                                    <div style="padding:0px 0px 0px 0px">
                                      <img
                                        alt="link img"
                                        src="https://res.cloudinary.com/syncall/image/upload/v1735337046/link_skeauo.png"
                                        width="10"
                                        style="width:10px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                                      />
                                    </div>
                                  </td>
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:2px;padding-right:0"
                                  >
                                    <div
                                      style="color:#525252;font-size:12px;font-weight:normal;padding:0px 0px 0px 0px"
                                    >
                                      www.syncallmusic.com
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div style="padding:0px 0px 24px 0px">
                            <table
                              align="center"
                              width="100%"
                              cellpadding="0"
                              border="0"
                              style="table-layout:fixed;border-collapse:collapse"
                            >
                              <tbody style="width:100%">
                                <tr style="width:100%">
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:2px;width:10px"
                                  >
                                    <div style="padding:0px 0px 0px 0px">
                                      <img
                                        alt="Syncall phone"
                                        src="https://res.cloudinary.com/syncall/image/upload/v1735337046/phone_enpa3r.png"
                                        width="10"
                                        style="width:10px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                                      />
                                    </div>
                                  </td>
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:2px;padding-right:0"
                                  >
                                    <div
                                      style="color:#525252;font-size:12px;font-weight:normal;padding:0px 0px 0px 0px"
                                    >
                                    +234 812 191 2877
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div style="padding:0px 0px 4px 0px">
                            <table
                              align="center"
                              width="100%"
                              cellpadding="0"
                              border="0"
                              style="table-layout:fixed;border-collapse:collapse"
                            >
                              <tbody style="width:100%">
                                <tr style="width:100%">
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:10.666666666666666px"
                                  >
                                    <div style="padding:0px 0px 0px 0px">
                                      <img
                                        alt="Sample product"
                                        src="https://res.cloudinary.com/syncall/image/upload/v1735337046/twitter_mwinmt.png"
                                        style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                                      />
                                    </div>
                                  </td>
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:5.333333333333333px;padding-right:5.333333333333333px"
                                  >
                                    <div style="padding:0px 24px 0px 0px">
                                      <img
                                        alt="syncall fb"
                                        src="https://res.cloudinary.com/syncall/image/upload/v1735337046/fb_lw5hgu.png"
                                        style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                                      />
                                    </div>
                                  </td>
                                  <td
                                    style="box-sizing:content-box;vertical-align:middle;padding-left:10.666666666666666px;padding-right:0"
                                  >
                                    <div style="padding:0px 24px 0px 0px">
                                      <img
                                        alt="Syncall Linkedin"
                                        src="https://res.cloudinary.com/syncall/image/upload/v1735337046/ln_z9ew3s.png"
                                        style="outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%"
                                      />
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>