<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    
</head>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #F2F5F8; max-width: 640px;table-layout: auto;border-collapse: collapse;">
    <tbody style="background: #F2F5F8;">
        <tr>
            <td style="padding:24px 64px;">
                <img src="cid:headerLogo" alt="">
            </td>
        </tr>
        <tr>
            <td style="background: #F2F5F8; padding : 0 32px;">
                <table>
                    <tbody>
                        <tr>
                            <td style="background-color: white; padding: 32px;">
                                <h3 style="color: #333; font-size: 16px; font-weight: 400;">
                                    Dear <%= user.name %>,
                                    </h3><p style="margin: 20px 0px;">
                                        You have just received a request for a quote to license your track, [Track Name].
                                    </p>
                                    <p>
                                        Best Regards
                                    </p>
                                
                            </td>
                       </tr>
                       <tr>
                            <td style="background-color: white;padding: 32px; ">
                                <section class="footer" style="display: block;">
                                    <div>
                                        <h3 style="font-size: 14px; font-weight: 700; color: #0071CE;">Ezekiel Olayinka</h3>
                                        <p style="font-size: 12px; font-weight: 400;color: #878787;">Product Manager</p>
                                    </div>
                                    <div style="margin-left: auto;">
                                        <p style="display: flex; align-items: center; font-size: 12px; color: #525252;font-weight: 400;">
                                            <img src="cid:message" alt="" style="margin-right: 5px;">
                                            victor@syncall.com
                                        </p>
                                        <a href="www.syncallmusic.com" target="_blank" style="display: flex; align-items: center; gap: 10px; font-size: 12px; color: #525252;font-weight: 400;">
                                            <img src="cid:link" alt="" style="margin-right: 5px;">
                                            www.syncallmusic.com
                                        </a>
                                        <p href="www.syncallmusic.com" target="_blank" style="display: flex; align-items: center; gap: 10px; font-size: 12px; color: #525252;font-weight: 400;">
                                            <img src="cid:call" alt="" style="margin-right: 5px;">
                                            +1 234 568 8897
                                        </p>
                                    </div>
                                </section>
                                <section style="display: flex; padding: 10px 0;">
                                    <div>
                                        <img src="cid:footerLogo" alt="">
                                    </div>
                                    <div style="margin-left: auto;display: flex; align-items: center;">
                                        <img src="cid:twitter" alt="">
                                        <img src="cid:fb" alt="" style="margin: 0 24px;">
                                        <img src="cid:ln" alt="">
                                    </div>
                                </section>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
       
       <tr>
            <td style="padding: 32px 64px;">
            </td>
        </tr>
    </tbody>
</table>
</html>